<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="hospitalmanagement (1)">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="mysql-connector-java-5.1.35-bin.jar" deploy-path="/WEB-INF/lib/" handle="module:/resource/mysql-connector-java-5.1.35-bin/mysql-connector-java-5.1.35-bin">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="hospitalmanagement_(1)"/>
        <property name="java-output-path" value="/hospitalmanagement (1)/build/classes"/>
    </wb-module>
</project-modules>
